@import 'public-mixin';

:host {
    $this: '.app-user-login-layout';

    #{$this} {
        display: flex;
        flex-direction: row;
        @include lt-md {
            display: block;
            flex-direction: column;
        }

        &__left {
            flex: 1;
            align-items: center;
            display: flex;
            justify-content: center;
            background-image: url('^assets/common/bg.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            @include lt-md {
                background-image: url('^assets/common/bg-small.svg');
                min-height: 160px;
                max-height: 160px;
            }

            &__logo__block {
                align-items: center;
                display: flex;
                justify-content: center;
                height: 60.51px;
                width: 100%;
                max-width: 370px;
                @include lt-md {
                    padding: 0 20px;
                }
            }
            &__logo {
                background-image: url('^assets/common/logo_compony_name.svg');
                background-repeat: no-repeat;
                background-position: center;
                height: 100%;
                width: 100%;
                @include lt-md {
                    background-size: contain;
                }
            }
        }
        &__right {
            align-items: center;
            flex: 1;
            display: flex;
            flex-direction: column;
            place-content: center;
            max-height: 100vh;
            overflow-y: auto;
            position: relative;
            @include lt-md {
                justify-content: flex-start;
                max-height: calc(100% - 160px);
                min-height: calc(100% - 160px);
                padding: 0 20px;
            }
            @media screen and (max-height: 800px) {
                display: block;
            }

            &__footer {
                bottom: 0;
                color: $colorLight;
                flex-shrink: 0;
                justify-content: center;
                height: 39px;
                width: 100%;
                @include lt-md {
                    height: 36px;
                }
            }
        }
    }
}