@import "public-mixin";

:host {
    $this: '.app-page-title';

    #{$this} {
        &__prompt {
            span {
                color: #27303D;
                white-space: nowrap;
            }
            small {
                color: #6C7A8E;
                white-space: nowrap;
            }
        }
    }
}