@import 'public-mixin';

:host {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    max-height: calc(100vh - 39px);
    width: 100%;
    @include lt-md {
        max-height: none;
    }

    $this: '.app-register';

    #{$this} {
        &__content {
            margin-bottom: 115px;
            margin-top: 115px;
            max-width: 420px;
            height: auto;
            width: 100%;

            @include lt-md {
                margin: 0;
                padding-top: 20px;
                max-width: 380px;
            }
        }
        &__form {
            margin-top: 40px;
            @include lt-md {
                margin-top: 35px;
            }
            &__country__code {
                width: 125px;
            }
            &__countdown {
                margin-bottom: 35px;
                @include lt-md {
                    margin-bottom: 30px;
                }
                span {
                    color: $colorSecond;
                    &:nth-child(2) {
                        margin-left: 8px;
                    }
                }
            }
        }
        &__other {
            margin-top: 24px;
            @include lt-md {
                margin-top: 30px;
            }
            span {
                color: $colorLight;
            }
            a {
                text-decoration: none;
                margin-left: 4px;
                &.not-allowed {
                    cursor: not-allowed;
                }
                span {
                    color: $colorBlue;
                }
            }
        }
    }
}