<div class="app-admin-main-layout" color="primary">
  <mat-sidenav-container fxFlexFill class="app-admin-main-layout__container">
    <mat-sidenav #sidenav fxLayout="column" class="app-admin-main-layout__mat-drawer" position="end">
      <div fxLayout="column">
        <a href="#" mat-button routerLink="/admin/about">履歷管理</a>
        <a href="#" mat-button routerLink="/admin/about">信件/簡訊管理</a>
        <a href="#" mat-button routerLink="/admin/company-job">職缺管理</a>
        <a href="#" mat-button routerLink="/admin/about">會員管理</a>
      </div>
    </mat-sidenav>

    <mat-sidenav-content fxFlexFill>
      <mat-toolbar class="app-admin-main-layout__mat-toolbar">
        <div class="app-admin-main-layout__mat-toolbar-logo"></div>

        <span class="app-admin-main-layout__flex-spacer"></span>

        <ng-container *ngFor="let item of links">
          <div fxShow="true" fxHide.lt-md="true" class="app-admin-main-layout__link" [ngClass]="{'app-admin-main-layout__link--active': item.active}">
            <a [routerLink]="item.link">
              <mat-icon [svgIcon]="item.icon" aria-hidden="false" [attr.aria-label]="item.title"></mat-icon>
              <span class="h2-text--bold">{{ item.title }}</span>
            </a>
          </div>
        </ng-container>

        <div fxShow="true" fxHide.lt-md="true" class="app-admin-main-layout__member">
          <div class="app-admin-main-layout__member__content">
            <button mat-button [matMenuTriggerFor]="personalPicker" aria-label="Select a personal"
              matTooltip="Select a personal of the documentation">
              <mat-icon svgIcon="member-icon" aria-hidden="false" aria-label="Member icon"></mat-icon>
              <span class="h2-text--regular">王大明</span>
              <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #personalPicker="matMenu" xPosition="before">
              <button mat-menu-item>
                ．．．．
              </button>
            </mat-menu>
          </div>
        </div>

        <div fxShow="true" fxHide.gt-sm="true">
          <button mat-icon-button class="example-icon" (click)="sidenav.toggle()" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </mat-toolbar>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>