// @import 'public-mixin';

:host {
  $this: '.app-admin-main-layout';

  #{$this} {
    height: 100vh;

    &__mat-toolbar {
      background: linear-gradient(270deg, #006CD0 9.33%, #02B2E1 100%);
      color: #FFFFFF;

      &-logo {
        background-image: url('^assets/common/logo_compony_name.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 185px;
        height: 30px;
      }
    }

    &__flex-spacer {
      flex: 1 1 auto;
    }

    &__menu-text {
      margin-top: 5px;
      margin-left: 5px; /* optional */
    }

    &__mat-drawer {
      background: linear-gradient(0deg, #006CD0 0%, #02B2E1 100%);
      color: #FFFFFF;
      width: 227px;
    }
  }
}