@import 'public-mixin';

:host {
    $this: '.app-admin-login-layout';

    #{$this} {
        display: flex;
        flex-direction: row;
        height: 100vh;
        background-image: url('^assets/common/admin-bg.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;

        @include lt-md {
            background-image: url('^assets/common/admin-bg-small.svg');
            flex-direction: column;
        }
        &__left {
            flex: 1 1 45%;
            align-items: center;
            display: flex;
            justify-content: flex-end;
            padding-right: 70px;

            @include lt-md {
                flex: 0;
                padding-right: 0;
            }

            &__logo__block {
                align-items: center;
                display: flex;
                justify-content: center;
                height: 60.51px;
                width: 370px;
                @include lt-md {
                    height: 215px;
                    padding: 0 20px;
                    width: 100%;
                }
            }
            &__logo {
                background-image: url('^assets/common/logo_compony_name.svg');
                background-repeat: no-repeat;
                background-position: center;
                height: 100%;
                width: 100%;
                @include lt-md {
                    background-size: contain;
                }
            }
        }
        &__right {
            align-items: center;
            display: flex;
            flex: 1 0 55%;
            flex-direction: row;
            justify-content: flex-start;
            max-height: 100vh;
            overflow-y: auto;
            @include lt-md {
                align-items: flex-start;
                flex-direction: column;
                justify-content: center;
                max-height: calc(100% - 215px);
                padding: 0 20px;
                overflow-y: auto;
            }
            @media screen and (max-height: 700px) {
                display: block;
            }
            &__footer {
                bottom: 0;
                color: $colorLight;
                display: none;
                flex-shrink: 0;
                justify-content: center;
                height: 39px;
                width: 100%;
                @include lt-md {
                    display: flex;
                    height: 36px;
                    margin-top: auto;
                }
            }
        }
        &__footer {
            bottom: 0;
            color: #FFFFFF;
            display: flex;
            height: 39px;
            justify-content: center;
            text-align: center;
            position: absolute;
            width: 100%;
            @include lt-md {
                display: none;
            }
        }
    }
}