<div class="app-admin-login-layout">
    <div class="app-admin-login-layout__left">
        <div class="app-admin-login-layout__left__logo__block">
            <div class="app-admin-login-layout__left__logo"></div>
        </div>
    </div>
    <div class="app-admin-login-layout__right">
        <router-outlet></router-outlet>
        <div class="app-admin-login-layout__right__footer h2-text--medium">
            {{startYear}}-{{currentYear}} © JB傑報人力資源服務集團
        </div>
    </div>
    <div class="app-admin-login-layout__footer h2-text--medium">
        {{startYear}}-{{currentYear}} © JB傑報人力資源服務集團
    </div>
</div>
