@import 'public-mixin';

$this: '.app-member-management';

:host {
    height: 100%;
    width: 100%;
    #{$this} {
        margin-bottom: 24px;
        padding: 24px 40px 0;
        &__head {
            &__block {

            }
            &__title {
                &__main {

                }
                &__sub {}
            }
        }
        &__card {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
            padding: 40px 20px;

            &__body {
                &__title {
                    margin-bottom: 35px;
                }

                &__field {
                    [mat-raised-button] {
                        flex-shrink: 0;
                        margin-top: 20px;
                    }
                    &--one {
                        flex-grow: 1;
                        max-width: calc(50% - 20px);

                        [mat-raised-button] {
                            flex-shrink: 0;
                            margin-top: 20px;
                        }
                    }
                }
                mat-form-field:disabled {
                    background: $colorBg;
                }
            }
        }
    }
}