@import 'public-mixin';

$this: '.app-resume-management-form';

:host {
  .nav-resume {
    background: #EAEDF1;
    height: calc(100vh - 72px);
    position: fixed;
    right: -240px;
    top: 72px;
    width: 230px;
    -webkit-transition: right 1s; /* Safari */
    transition: right 1s;
    z-index: 999;
    &-drawer {
      background: #FFFFFF;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      height: 59px;
      position: absolute;
      top: 0;
      left: -40px;
      width: 270px;
      &__icon {
        align-items: center;
        height: 100%;
        display: flex;
        justify-content: center;
        width: 40px;
      }
      div {
        color: $colorLight;
      }
    }
    &-list {
      background: #FFFFFF;
      height: auto;
      padding-top: 59px;
      width: 100%;
      mat-selection-list {
        padding-top: 0;

        mat-list-option.mat-list-item {
          color: $colorSecond;
          height: 59px;

          &.mat-list-single-selected-option {
            background-color: #E0EFFD;
          }

          ::ng-deep .mat-list-item-content {
            .mat-list-text {
              @include lt-md {
                @include Noto-Sans-TCBody12-Regular;
              }
            }
          }
        }
      }
    }
    &--active {
      right: 0;
    }
  }

  #{$this} {
    background-color: #F4F9FD;
    min-height: calc(100vh - 64px - 40px);
    padding: 24px 40px;

    @include lt-md {
      padding: 24px;
    }

    &__head {
      &__block {}

      &__title {
        &__main {}

        &__sub {}
      }

      &__action {}
    }

    &__title {
      &__card {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        padding: 26px 30px;
        background-color: #FFF;

        @include lt-md {
          padding: 24px;
        }

        button.mat-button-disabled {
          background: #C5D0DF;
        }
      }

      &__resume {
        position: relative;
        top: 5px;
        margin-right: 24px;
      }

      &__icon {
        width: 30px;
        height: 30px;
      }
    }

    &__sidebar {
      &__card {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        background-color: #FFF;
        position: -webkit-sticky;
        position: sticky;
        top: 10px;

        ::ng-deep .mat-subheader {
          font-weight: 600;
          font-size: 14px;
          line-height: 25px;
          color: #C5D0DF;
          padding: 17px 16px 17px 12px;
        }

        ::ng-deep .mat-list-item-content {
          padding: 0 0 0 24px !important;
        }

        ::ng-deep .mat-list-text>*,
        ::ng-deep .mat-list-text>* {
          font-weight: 400;
          font-size: 14px;
          line-height: 25px;
          color: #6C7A8E;
        }

        ::ng-deep .mat-list-single-selected-option {
          background-color: #E0EFFD;
        }
      }
    }

    &__content {
      &__card {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        background-color: #FFF;

        &__header {
          border-bottom: 1px solid #C5D0DF;
          height: 80px;
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 24px;
          padding-right: 24px;

          &__title {
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
          }
        }
        &__body {
          &--empty {
            padding-top: 24px;
            padding-bottom: 24px;
            padding-left: 24px;
            padding-right: 24px;
          }
        }
        &--eduction {
          min-height: 56px;
          padding: 40px 24px;
          position: relative;
          &-btns {
            display: flex;
            gap: 12px;
            justify-content: flex-end;
            [mat-icon-button].mat-button--icon {
              align-items: center;
              display: flex;
              justify-content: center;
              height: 30px;
              width: 30px;
              min-width: 30px;
              [data-mat-icon-name="trash"] {
                height: 18.3px;
                width: 16.1px;
                line-height: 0;
              }
              [data-mat-icon-name="edit"] {
                height: 20px;
                width: 20px;
                line-height: 0;
              }
            }
          }
        }

        &--experiences {
          min-height: 162px;
          padding: 40px 24px;
          position: relative;

          &-btns {
            display: flex;
            gap: 12px;
            justify-content: flex-end;
            [mat-icon-button].mat-button--icon {
              align-items: center;
              display: flex;
              justify-content: center;
              height: 30px;
              width: 30px;
              min-width: 30px;
              [data-mat-icon-name="trash"] {
                height: 18.3px;
                width: 16.1px;
                line-height: 0;
              }
              [data-mat-icon-name="edit"] {
                height: 20px;
                width: 20px;
                line-height: 0;
              }
            }
          }

          &-content {
            max-width: 529px;
            width: 100%;
            height: auto;
          }
        }

        &--licenses {
          padding: 24px;
          position: relative;
          &-btns {
            display: flex;
            gap: 12px;
            justify-content: flex-end;
            [mat-icon-button].mat-button--icon {
              align-items: center;
              display: flex;
              justify-content: center;
              height: 30px;
              width: 30px;
              min-width: 30px;
              [data-mat-icon-name="trash"] {
                height: 18.3px;
                width: 16.1px;
                line-height: 0;
              }
              [data-mat-icon-name="edit"] {
                height: 20px;
                width: 20px;
                line-height: 0;
              }
            }
          }
        }

        &--autobiographies {
          padding: 24px;
          position: relative;
          &-btns {
            display: flex;
            gap: 12px;
            justify-content: flex-end;
            [mat-icon-button].mat-button--icon {
              align-items: center;
              display: flex;
              justify-content: center;
              height: 30px;
              width: 30px;
              min-width: 30px;
              [data-mat-icon-name="trash"] {
                height: 18.3px;
                width: 16.1px;
                line-height: 0;
              }
              [data-mat-icon-name="edit"] {
                height: 20px;
                width: 20px;
                line-height: 0;
              }
            }
          }
        }

        &--appendices {
          min-height: 162px;
          padding: 40px 24px;
          position: relative;

          &-btns {
            display: flex;
            gap: 12px;
            justify-content: flex-end;
            [mat-icon-button].mat-button--icon {
              align-items: center;
              display: flex;
              justify-content: center;
              height: 30px;
              width: 30px;
              min-width: 30px;
              [data-mat-icon-name="trash"] {
                height: 18.3px;
                width: 16.1px;
                line-height: 0;
              }
            }
          }
        }

        &--appendix {
          &-file {
            background: #EAEDF1;
            border-radius: 5px;
            height: 50px;
            max-width: 566px;
            padding: 12.5px 20px;
            width: 100%;
            a {
              color: #006CD0;
            }
            mat-icon {
              color: $colorMain;
            }
          }
          &-link {
            border: 1px solid #C5D0DF;
            height: 120px;
            max-width: 566px;
            padding: 12px;
            width: 100%;
            &-left {
              &-title {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 100%;
              }
              &-content {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                width: 100%;
                height: 100%;
                overflow: hidden;
              }
            }
            &-right {
              background: #006CD0;
              border-radius: 4px;
              height: 96px;
              width: 96px;
            }
          }
        }
      }
      &__image {
        &__block {
          @include lt-md {
            align-items: center;
            justify-content: center;
          }
        }
        &__avatar {
          width: 100px;
          height: 100px;
        }
      }
      &__button {
        &__upload {
          width: 100px;
          height: 36px;
          border: 1px solid #006CD0;
          border-radius: 8px;
          ::ng-deep span {
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
          }
          ::ng-deep mat-icon {
            margin-right: 0;
            width: 15.03px;
            height: 15px;
          }
        }
      }
      &__label {
        font-weight: 600;
        font-size: 14px;
        line-height: 25px;
        color: #27303D;
      }
      &__plaintext {
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: #6C7A8E;
      }
    }

    .mat-icon-button {
      &-origin {
        color: $colorSecond;
      }
      &-regular {
        border-radius: 4px;
        color: #FFFFFF;
        height: 30px;
        width: 30px;
        line-height: 0;
      }
    }
  }
}

::ng-deep body {
  #{$this} {
    &__dialog {

      &--add,
      &--edit {
        max-width: calc(100vw - 48px) !important;
      }
    }
  }
}

[mat-stroked-button] {
  border-radius: 8px;
  height: 50px;
  width: 150px;

  ::ng-deep .mat-button-wrapper {
    line-height: unset;
    color: #006CD0;
  }

  &.mat-stroked-button:not(.mat-button-disabled) {
    border-color: #006CD0;
  }
}

mat-form-field {
  margin-bottom: 0;

  ::ng-deep .mat-form-field-flex {
    background: #FFF;
  }

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}