@import 'public-mixin';

:host {
    $this: '.admin-login';
    align-items: center;
    display: flex;
    justify-content: flex-start;
    @include lt-md {
        width: 380px;
    }
    #{$this} {

        &__content {
            min-width: 420px;
            padding-left: 70px;
            border-left: 1px solid #FFFFFF;
            @include lt-md {
                min-width: 100%;
                padding-left: 0;
                border-left: none;
            }
        }
        &__prompt {
            align-items: baseline;
            display: flex;
            justify-content: space-between;
            position: relative;
            span {
                color: #FFFFFF;
            }
            small {
                color: #FFFFFF;
            }
            &--error {
                position: absolute;
                bottom: -26px;
                color: #FBBC05;
            }
        }
        &__form {
            display: flex;
            flex-direction: column;
            gap: 17px;
            margin-top: 40px;

            &__remeber__block {
                display: flex;
                justify-content: space-between;
                a {
                    text-decoration: none;
                    color: #FFFFFF;
                }
            }
            &__login__btn {
                margin-top: 40px;
            }
        }

        &__route__admin {
            align-items: center;
            display: flex;
            justify-content: center;
            margin-top: 35px;
            text-decoration: none;
            span {
                color: #FFFFFF;
                margin-right: 28px;
            }
            mat-icon {
                color: #FFFFFF;
                height: 16px;
                transform: rotate(-90deg);
            }
        }
    }
}