@import 'public-mixin';

$this: '.admin-resume-invitation-list';

:host {
  #{$this} {
    background-color: #F4F9FD;
    min-height: calc(100vh - 64px - 40px);
    padding: 24px 40px 0;

    &__head {
      &__block {}

      &__title {
        &__main {}

        &__sub {}
      }

      &__btns {
        &__btn {}
      }
    }

    &__search {
      &__block {
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        padding: 24px 20px;
      }
      &__title {
        color: $colorSecond;
      }
      &__conditions {
        .mat-form-field__block {
          max-width: 257px;
        }
        &__block {
          margin-top: 19px;
        }
      }
    }

    &__table {
      &__block {
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      }

      &__head {
        padding: 12.5px 20px;

        @include lt-md {
          display: none;
          justify-content: flex-end;
          padding: 23px 24px 22px;
        }

        &__btn {
          @include lt-md {
            display: none;
          }

          &__icons {
            @include lt-md {
              display: block;
              float: right;
            }
          }
          &__icon {
            background: $colorCis;
            border: none;
            border-radius: 4px;
            height: 30px;
            min-width: 30px;
            width: 30px;
            mat-icon {
              height: 100%;
              width: 100%;
              line-height: inherit;
            }
            &[disabled] {
              background: $colorLight;
            }
          }
        }
      }

      &__body {
        .mat-table {
          min-width: 100%;
        }

        .mat-table .mat-cell:not(:first-of-type):not(:last-of-type):before {
          display: none;
        }

        .mat-table .mat-header-cell {
          display: table-cell;
          font-weight: 600;
          font-size: 14px;
          line-height: 25px;
        }

        .mat-table .mat-cell:not(:first-of-type):not(:last-of-type) {
          display: table-cell;
        }

        .mat-table .mat-cell:first-child {
          width: 45px;
        }

        .mat-table .mat-cell:last-child {
          width: 45px;
          text-align-last: end;
        }

        @include lt-md {
          .mat-table .mat-header-cell:first-of-type {
            background: transparent;
            padding: 23px 24px 22px;
          }

          .mat-table .mat-header-cell:not(:first-of-type) {
            display: none;
          }

          .mat-table .mat-cell:not(:first-of-type):not(:last-of-type) {
            display: block;
          }

          .mat-table .mat-cell:not(:first-of-type):not(:last-of-type):before {
            display: inline-block;
            content: attr(data-th) "";
            width: 6.5em;
            padding: 20px 0 20px 12px;
            margin-right: 12px;
          }
  
          .mat-table .mat-header-cell,
          .mat-table .mat-cell:before {
            font-weight: 600;
            font-size: 12px;
            line-height: 20px;
            background: #F4F9FD;
          }
  
          .mat-table .mat-cell:first-child {
            vertical-align: text-top;
          }
  
          .mat-table .mat-cell:last-child {
            vertical-align: text-top;
            padding-right: 0;
          }
        }
      }
    }
  }

  .paginator {
    &__block {
      padding: 24px 50px;
      position: relative;

      @include lt-md {
        padding: 13px 17px;
      }
    }
    &__item {
      align-items: center;
      display: flex;
      gap: 12px;

      @include lt-md {
        display: none;
      }

      &__text {
        white-space: nowrap;
      }
      &__select {
        ::ng-deep .mat-select-trigger {
          .mat-select-value {
            padding-right: 20px;
          }
          .mat-select-arrow-wrapper {
            top: 0;
          }
        }
      }
    }
    &__page-info {
      margin: 0 !important;
      .paginator__item__text {
        line-height: 20px;
      }
    }
    &__btns {}

    &__btn {
      height: 14px;
      margin: 0;
      width: 14px;
      line-height: 14px;

      @include lt-md {
        height: 12px;
        width: 12px;
        line-height: 12px;
      }

      mat-icon {
        height: 100%;
        width: 100%;
        line-height: inherit;
      }
      &--prev {}
      &--next {}
    }


    &__component {
      visibility: hidden;
      position: absolute;
      bottom: 0;
      margin: 0;
      pointer-events: none;
    }
  }
}

::ng-deep body {
  #{$this} {
    &__dialog {
      &--add, &--edit {
        max-width: calc(100vw - 48px) !important;
      }
    }
  }
}