@import 'public-mixin';

$this: '.app-menu-panel';

::ng-deep body {
    #{$this} {
        .mat-menu-content {
            padding: 0;
        }
        .mat-menu-item {
            color: $colorLight;
            height: 59px;
            line-height: 59px;
        }
        &__link {
            &--active {
                background: $colorOrange04;
                padding-left: 2px;
                position: relative;
                &::before {
                    background: linear-gradient(360deg, #F4781E 29.06%, #FFE599 98.31%, #FEB178 98.31%);
                    content: '';
                    height: 100%;
                    left: 0;
                    position: absolute;
                    width: 4px;
                }
                .mat-menu-item {
                    color: $colorSecond;
                    &:hover:not([disabled]) {
                        background: white;
                    }
                }
            }
            .mat-menu-item {
                &:hover:not([disabled]) {
                    background: rgba($color: #000000, $alpha: 0.04);
                }
            }
        }
    }
}

::ng-deep .cdk-overlay-pane {
    .mat-menu-item {
        &:hover:not([disabled]), &.cdk-program-focused:not([disabled]), &.cdk-keyboard-focused:not([disabled]), &-highlighted:not([disabled]) {
            background: white;
        }
    }
}