<div fxLayout="row" fxLayoutAlign="space-between center" class="app-add-person-dialog__head" mat-dialog-title>
    <div class="app-add-person-dialog__head__title h1-title text-second">{{data.title}}</div>
    <mat-icon mat-dialog-close [svgIcon]="data.icon || 'close-icon'" aria-hidden="false" aria-label="close icon"></mat-icon>
</div>
<mat-dialog-content class="app-add-person-dialog__content">
    <form class="app-add-person-dialog__content__form" [formGroup]="addForm">
        <mat-form-field class="mat-form-field__block" appearance="fill">
            <label class="mat-form-field__lable--top">姓名*</label>
            <input matInput placeholder="例:王大明" formControlName="name" required [errorStateMatcher]="matcher">
            <mat-error *ngIf="nameFormCtl.invalid">
                {{ getNameErrorMessage() }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-form-field__block" appearance="fill">
            <label class="mat-form-field__lable--top">電話*</label>
            <input matInput placeholder="例:0912345678" formControlName="phone" required [errorStateMatcher]="matcher">
            <mat-error *ngIf="phoneFormCtl.invalid">
                {{ getPhoneErrorMessage() }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-form-field__block" appearance="fill">
            <label class="mat-form-field__lable--top">身分證號碼</label>
            <input matInput placeholder="請輸入身分證號碼" formControlName="accountCode" [errorStateMatcher]="matcher">
            <mat-error *ngIf="accountCodeFormCtl.invalid">
                {{ getAccountCodeErrorMessage() }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-form-field__block" appearance="fill">
            <label class="mat-form-field__lable--top">Email*</label>
            <input matInput placeholder="例:WanDaiMain@gmail.com" formControlName="email" required [errorStateMatcher]="matcher">
            <mat-error *ngIf="emailFormCtl.invalid">
                {{ getEmailErrorMessage() }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-form-field__block" appearance="fill">
            <label class="mat-form-field__lable--top">職缺*</label>
            <select matNativeControl required formControlName="jobName" [errorStateMatcher]="matcher">
                <option class="default-option" label="請選擇職缺" [ngValue]="null"></option>
                <ng-container *ngFor="let option of jobOptions">
                    <option [value]="option.key">{{option.text}}</option>
                </ng-container>
            </select>
            <mat-error class="h3-text--medium" *ngIf="jobNameFormCtl.invalid">
                {{ getJobNameErrorMessage() }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-form-field__block" appearance="fill">
            <label class="mat-form-field__lable--top">階段*</label>
            <select matNativeControl required formControlName="stage" [errorStateMatcher]="matcher">
                <option class="default-option" label="請選擇階段" [ngValue]="null"></option>
                <ng-container *ngFor="let option of stageOptions">
                    <option [value]="option.key">{{option.text}}</option>
                </ng-container>
            </select>
            <mat-error class="h3-text--medium" *ngIf="stageFormCtl.invalid">
                {{ getStageErrorMessage() }}
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center" class="app-add-person-dialog__action">
    <button mat-raised-button mat-dialog-close (click)="isSuccess = false">
        <span>{{data.cancelBtnText}}</span>
    </button>
    <button mat-raised-button cdkFocusInitial class="mat-button--orange" (click)="confirm()">
        <span>{{data.successBtnText}}</span>
    </button>
</mat-dialog-actions>