@import 'public-mixin';

:host {
  $this: '.admin-company-job-list';

  #{$this} {
    background-color: #F4F9FD;
    min-height: calc(100vh - 64px - 40px);
    padding: 24px 40px 0;

    &__head {
      &__block {}

      &__title {
        &__main {}

        &__sub {}
      }

      &__keyword {
        mat-form-field {
          margin: 0 !important;

          ::ng-deep .mat-form-field-wrapper {
            background-color: #FFFFFF;
            padding-bottom: 0 !important;
          }
        }
      }
    }

    &__table {
      &__block {
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      }

      &__head {
        padding: 12.5px 20px;
      }

      &__body {
        .mat-table {
          min-width: 100%;
        }

        .mat-table .mat-cell:not(:first-of-type):not(:last-of-type):before {
          display: none;
        }

        .mat-table .mat-header-cell {
          display: table-cell;
          font-weight: 600;
          font-size: 14px;
          line-height: 25px;
        }

        .mat-table .mat-cell:not(:first-of-type):not(:last-of-type) {
          display: table-cell;
        }

        .mat-table .mat-cell:first-child {
          width: 45px;
        }

        .mat-table .mat-cell:last-child {
          width: 45px;
          text-align-last: end;
        }

        @media (max-width: 1000px) {
          .mat-table .mat-header-cell {
            display: none;
          }
  
          .mat-table .mat-cell:not(:first-of-type):not(:last-of-type) {
            display: block;
          }
  
          .mat-table .mat-cell:not(:first-of-type):not(:last-of-type):before {
            display: inline-block;
            content: attr(data-th) "";
            width: 6.5em;
            padding: 20px 0 20px 12px;
            margin-right: 12px;
          }
  
          .mat-table .mat-header-cell,
          .mat-table .mat-cell:before {
            font-weight: 600;
            font-size: 12px;
            line-height: 20px;
            background: #F4F9FD;
          }
  
          .mat-table .mat-cell:first-child {
            vertical-align: text-top;
          }
  
          .mat-table .mat-cell:last-child {
            vertical-align: text-top;
            padding-right: 0;
          }
        }
      }
    }
  }
}