@import 'public-mixin';

:host {
  $this: '.admin-company-job-list';

  #{$this} {
    background-color: #F4F9FD;
    min-height: calc(100vh - 64px - 40px);
    padding: 24px 40px 0;

    &__head {
      &__block {}

      &__title {
        &__main {}

        &__sub {}
      }

      &__keyword {
        mat-form-field {
          margin: 0 !important;

          ::ng-deep .mat-form-field-wrapper {
            background-color: #FFFFFF;
            padding-bottom: 0 !important;
          }
        }
      }
    }

    &__table {
      &__block {
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      }

      &__head {
        padding: 12.5px 20px;
      }

      &__body {
        table {
          width: 100%;

          .data-empty {
            .mat-cell {
              color: $colorLight;
            }
          }
        }
      }
    }
  }
}