@import 'public-mixin';

$this: '.admin-resume-invitation-search-dialog';

:host {

    #{$this} {
        &__head {
            border-bottom: 1px solid #C5D0DF;
            margin-bottom: 0;
            padding: 11.5px 24px;
            mat-icon {
                color: $colorSecond;
                cursor: pointer;
                width: 17px;
            }
        }

        &__content {
            margin: 0;
        }
        &__search__conditions {
            padding-top: 40px;
            .default-option {
                color: $colorLight;
            }

            mat-form-field {
                width: 100%;

                ::ng-deep .mat-form-field-flex {
                    margin-top: 20px;
                    .mat-form-field-infix {
                        width: 100%;
                    }
                }
            }
        }
        &__action {
            padding: 20px 0 40px;
            min-height: unset;
            margin-bottom: unset;
        }
    }
}