<mat-toolbar class="app-user-main-layout" color="primary">
  <div class="app-user-main-layout__logo"></div>
  <span class="app-user-main-layout__flex-spacer"></span>
  <ng-container *ngFor="let item of links">
    <div class="app-user-main-layout__link" [ngClass]="{'app-user-main-layout__link--active': item.active}">
      <a [routerLink]="item.link">
        <mat-icon [svgIcon]="item.icon" aria-hidden="false" aria-label="Member icon"></mat-icon>
        <span class="h2-text--bold">{{ item.title }}</span>
      </a>
    </div>
  </ng-container>
  <div class="app-user-main-layout__member">
    <div class="app-user-main-layout__member__content">
      <button  mat-button [matMenuTriggerFor]="personalPicker" aria-label="Select a personal"
        matTooltip="Select a personal of the documentation">
        <mat-icon svgIcon="member-icon" aria-hidden="false" aria-label="Member icon"></mat-icon>
        <span class="h2-text--regular">王大明</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #personalPicker="matMenu" xPosition="before">
        <button mat-menu-item>
          ．．．．
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
