<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center" class="resume-invitation-license-dialog__head">
  <div class="resume-invitation-license-dialog__title h1-title">{{ data.title }}</div>
  <mat-icon mat-dialog-close [svgIcon]="data.icon || 'close-icon'" aria-hidden="false" aria-label="close icon"></mat-icon>
</div>
<div mat-dialog-content class="resume-invitation-license-dialog__content">
  <div fxLayout="column" fxLayoutGap="35px" class="resume-invitation-license-dialog__content__form">
    <mat-form-field appearance="fill" floatLabel="never">
      <label class="mat-form-field__lable--top">證照名稱</label>
      <mat-chip-list #chipList aria-label="license keywords">
        <mat-chip *ngFor="let license of licensesControl.value" [removable]="true" (removed)="onLicenseRemoved(license)">
          <span class="mat-chip-title">{{ license.des }}</span>
          <mat-icon matChipRemove [svgIcon]="'close-icon'"></mat-icon>
        </mat-chip>
        <input
          placeholder="請輸入關鍵字"
          [matChipInputFor]="chipList"
          (matChipInputTokenEnd)="showSelectLicense($event)"
          (blur)="addLicense($event)"
          (keydown.enter)="addLicense($event)"
          (click)="showSelectLicenseBlock = true">
      </mat-chip-list>
      <mat-hint align="end">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
          <mat-error *ngIf="licensesControl.invalid">
            {{ getLicensesErrorMessage() }}
          </mat-error>
          <span>{{licensesControl.value?.length || 0}}/{{choiceLimit}}</span>
        </div>
      </mat-hint>
    </mat-form-field>

    <div fxLayout="column" fxLayoutGap="8px" class="resume-invitation-license-dialog__select__block" *ngIf="showSelectLicenseBlock">
      <div fxLayout="row" fxLayoutAlign="flex-end center" class="resume-invitation-license-dialog__select__head">
        <mat-icon [svgIcon]="'close-icon'" aria-hidden="false" aria-label="close icon" (click)="closeShowLicense()"></mat-icon>
      </div>
      <div fxLayout="row" class="resume-invitation-license-dialog__select__content">
        <div fxFlex class="resume-invitation-license-dialog__select__content__item-list">
          <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let link of mainLicenses" [value]="link.no" (click)="showLicenseGroup(link)">
               <span mat-line>{{link.des}}</span>
               <mat-icon mat-list-icon svgIcon="arrow-right"></mat-icon>
            </mat-list-option>
          </mat-selection-list>
        </div>
        <div fxFlex class="resume-invitation-license-dialog__select__content__item-list">
          <div fxLayout="row" fxLayoutAlign="flex-start center" class="resume-invitation-license-dialog__select__content__item-type-name h2-text--bold">{{choiceLicenseTypeName}}</div>
          <mat-accordion class="example-headers-align">
            <mat-expansion-panel *ngFor="let group of choiceLicenseGroup" (opened)="updateChoiceGroupId(group)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span [ngClass]="group.no === choiceGroupId ? 'h2-text--bold': 'h2-text--regular'">{{group.des}}</span>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-list-item *ngFor="let item of group.n" fxLayout="rwo" fxLayoutAlign="space-between center">
                <mat-checkbox class="h2-text--regular" [checked]="checkItme(item)" (change)="changeCheck($event.checked, item)">{{item.des}}</mat-checkbox>
             </mat-list-item>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button (click)="confirmAddLicenses()">
          <span>確認</span>
        </button>
      </div>
    </div>

    <mat-form-field class="mat-form-field__block" appearance="fill">
      <label class="mat-form-field__lable--top">其他證照</label>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="8" cdkAutosizeMaxRows="10" [formControl]="otherLicense"></textarea>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions fxLayoutAlign="center center" fxLayoutGap="12px" class="resume-invitation-license-dialog__action">
  <button mat-raised-button mat-dialog-close class="mat-button--medium" (click)="closeDialog(false)">
    <span>{{ data.cancelBtnText }}</span>
  </button>
  <button mat-raised-button cdkFocusInitial class="mat-button--medium mat-button--orange" (click)="closeDialog(true)">
    <span>{{ data.successBtnText }}</span>
  </button>
</div>