@import 'public-mixin';

:host {
  $this: '.resume-invitation-license-dialog';

  #{$this} {
    &__head {
      border-bottom: 1px solid #C5D0DF;
      margin-bottom: 0;
      padding: 8.5px 24px;

      mat-icon {
        color: $colorSecond;
        cursor: pointer;
        width: 17px;
      }
    }

    &__content {
      max-height: calc(80vh - 51px - 130px);
      overflow: hidden;
      overflow-y: auto;
      margin: 0;
      padding-top: 40px;
      padding-bottom: calc(40px - 1.34375em);
      padding-right: 24px;
      padding-left: 24px;

      &__form {
        mat-form-field:first-child {
          padding-top: 23px;

          ::ng-deep .mat-form-field-flex {
            height: 100%;

            mat-chip-list {
              mat-chip {
                padding: 8px 12px;
                margin: 3px;
                min-height: 36px;
                background-color: #6C7A8E;
                border-radius: 50px;
                .mat-chip-title {
                  @include Noto-Sans-TCBody12-Medium;
                  color: #FFFFFF;
                }
                mat-icon[data-mat-icon-type=svg] {
                  position: relative;
                  color: #FFFFFF;
                  opacity: 1;
                  margin-left: 15px;
                }
              }
            }
          }
        }

        mat-form-field:last-child {
          margin-bottom: 0;
        }

        .default-option {
          color: $colorLight;
        }

        .mat-radio-button ~ .mat-radio-button {
          margin-left: 16px;
        }

        ::ng-deep .mat-form-field-flex:has(textarea) {
          height: unset;
        }
      }
    }

    &__select {
      &__block {
        background: #F4F9FD;
        height: 534px;
        padding: 8px;
      }
      &__head {
        height: 32px;
      }
      &__content {
        border: 1px solid #C5D0DF;
        height: 100%;
        &__item {
          &-type-name {
            height: 49px;
            padding: 0 24px;
            @include lt-md {
              padding: 0 12px;
            }
          }

          &-list {
            background: #FFFFFF;
            height: 100%;
            max-height: 420px;
            overflow: hidden;
            overflow-y: auto;

            &::-webkit-scrollbar {
              width: 10px;
            }
            &::-webkit-scrollbar-thumb {
              background: #C0C0C0;
              border-radius: 25px;
            }
            &::-webkit-scrollbar-track {
              background: #F6F6F6;
            }

            mat-selection-list {
              mat-list-option {
                border-bottom: 1px solid #C5D0DF;
                height: 49px;

                &.mat-list-single-selected-option {
                  background: #E0EFFD;
                  ::ng-deep .mat-list-text {
                    * {
                      @include Noto-Sans-TCBody14-Bold;
                      @include lt-md {
                          @include Noto-Sans-TCBody12-Bold;
                      }
                    }
                  }
                }

                ::ng-deep .mat-list-item-content {
                  flex-direction: row;
                  justify-content: space-between;
                  padding: 0 24px;

                  @include lt-md {
                    padding: 0;
                  }

                  .mat-list-text {
                    * {
                      @include Noto-Sans-TCBody14-Regular;
                      @include lt-md {
                          @include Noto-Sans-TCBody12-Regular;
                      }
                    }
                  }
                }

                .mat-list-icon {
                  line-height: 15px;
                  height: 15px;
                  width: 15px;
                }
              }
            }


            mat-expansion-panel {
              border: none;
              border-radius: 0;
              box-shadow: none;
              border-bottom: 1px dashed #C5D0DF;

              &.mat-expanded {
                .mat-expansion-panel-header {
                  background: #E0EFFD;
                }
              }

              mat-expansion-panel-header {
                height: 49px;
                @include lt-md {
                  padding: 0 12px;
                }
              }
              ::ng-deep .mat-expansion-panel-content {
                .mat-expansion-panel-body {
                  padding: 0;
                }
              }
              mat-list-item {
                min-height: 49px;
                padding: 12px 24px;
                @include lt-md {
                  padding: 12px;
                }
                ::ng-deep .mat-list-item-content {
                  max-width: 100%;
                  .mat-checkbox-layout {
                    white-space: normal;
                  }
                }
              }
            }
          }
        }
      }
    }

    &__action {
      padding: 0 0 40px;
      min-height: unset;
      margin-bottom: unset;
    }
  }
}