@mixin Noto-Sans-TCTitle28-Bold {
    font-family: Noto Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
}

@mixin Noto-Sans-TCTitle24-Bold {
    font-family: Noto Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
}

@mixin Noto-Sans-TCTitle22-Bold {
    font-family: Noto Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
}

@mixin Noto-Sans-TCTitle20-Bold {
    font-family: Noto Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
}

@mixin Noto-Sans-TCBody14-Bold {
    font-family: Noto Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
}

@mixin Noto-Sans-TCBody14-Medium {
    font-family: Noto Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
}

@mixin Noto-Sans-TCBody14-Regular {
    font-family: Noto Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
}

@mixin Noto-Sans-TCBody12-Bold {
    font-family: Noto Sans;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
}

@mixin Noto-Sans-TCBody12-Medium {
    font-family: Noto Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
}

@mixin Noto-Sans-TCBody12-Regular {
    font-family: Noto Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
}