// ---- breakpoint -----//
// desktop
$large-1: 1920px;
$large-2: 1440px;

// tablet
$medium-1: 1159px;

// mobile
$small-1: 919px;
$small-2: 719px;

// user color
$colorMain: #27303D;
$colorSecond: #6C7A8E;
$colorLight: #C5D0DF;
$colorError: #EE3943;

$colorBule: #02B2E1;
$colorOrange03: #F4781E;
