[mat-table] {
    min-width: 100%;

    .mat-cell:not(:first-of-type):not(:last-of-type):before {
        display: none;
    }

    .mat-header-cell {
        display: table-cell;
        font-weight: 600;
        font-size: 14px;
        line-height: 25px;
    }

    .mat-cell:not(:first-of-type):not(:last-of-type) {
        display: table-cell;
    }

    .mat-cell:first-child {
        width: 45px;
    }

    .mat-cell:last-child {
        width: 45px;
        color: #C5D0DF;
        text-align-last: start;
    }

    @include lt-md {
        .mat-header-cell:first-of-type {
            background: transparent;
            padding: 22px 24px;
            mat-checkbox {
            margin-top: 8px;
            }
        }

        .mat-header-cell:not(:first-of-type) {
            display: none;
        }

        .mat-cell:not(:first-of-type):not(:last-of-type) {
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }

        .mat-cell:not(:first-of-type):not(:last-of-type):before {
            display: inline-block;
            content: attr(data-th) "";
            width: 85px;
            padding: 20px 0 20px 12px;
            margin-right: 12px;
        }

        .mat-header-cell,
        .mat-cell:before {
            font-weight: 600;
            font-size: 12px;
            line-height: 20px;
            background: #F4F9FD;
        }

        .mat-cell:first-child {
            width: 39px;
            vertical-align: text-top;
        }

        .mat-cell:last-child {
            vertical-align: text-top;
            padding-left: 24px;
            padding-right: 0;
            width: 39px;

            .mat-focus-indicator {
            line-height: 0;
            height: 25px;
            padding: 0;
            width: 25px;
            }
        }
    }
}