[mat-table] { 
    min-width: 100%;

    .mat-header-cell {
        background: #F4F9FD;
        border-top: 1px solid rgba(0,0,0,.12);
        display: table-cell;
        font-weight: 600;
        font-size: 14px;
        line-height: 25px;

        @include lt-md {
            font-weight: 600;
            font-size: 12px;
            line-height: 20px;
        }

        &:first-of-type {
            @include lt-md {
                background: transparent;
                padding: 22px 24px;
                mat-checkbox {
                    margin-top: 8px;
                }
            }
        }
        &:not(:first-of-type) {
            @include lt-md {
                display: none;
            }
        }
    }

    .mat-cell {
        &::before {
            @include lt-md {
                font-weight: 600;
                font-size: 12px;
                line-height: 20px;
            }
        }
        &:first-of-type {
            width: 45px;
            @include lt-md {
                width: 39px;
                vertical-align: text-top;
            }
        }

        &:not(:first-of-type):not(:last-of-type) {
            &::before {
                display: none;
                @include lt-md {
                    background-color: #F4F9FD;
                    display: inline-block;
                    content: attr(data-th) "";
                    width: 85px;
                    padding: 20px 0 20px 12px;
                    margin-right: 12px;
                }
            }
            .mat-cell-content {
                word-break: break-all;
            }
            @include lt-md {
                align-items: center;
                border-bottom: none;
                display: flex;
                flex-wrap: nowrap;
                justify-content: flex-end;
                width: 100%;
                .mat-cell-content {
                    display: -webkit-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    word-break: normal;
                    width: calc(100vw - 271px);
                }
            }
        }

        &:nth-last-of-type(2) {
            @include lt-md {
                border-bottom: 1px solid rgba(0,0,0,.12) !important;
            }
            mat-icon {
                color: #6C7A8E;
            }
        }

        &:nth-last-of-type(1) {
            color: #C5D0DF;
            text-align-last: start;
            width: 45px;
            @include lt-md {
                vertical-align: text-top;
                padding-left: 24px;
                padding-right: 0;
                width: 39px;

                .mat-focus-indicator {
                    line-height: 0;
                    height: 25px;
                    padding: 0;
                    width: 25px;
                }
            }
        }
    }

    tr {
        &.mat-header-row, &.mat-row {
            height: 75px;
        }
    }
}