@import 'public-mixin';

$this: '.admin-resume-invitation-list';

:host {
  height: 100%;
  width: 100%;

  #{$this} {
    background-color: #F4F9FD;
    min-height: calc(100vh - 64px - 40px);
    padding: 24px 40px;

    &__head {
      &__block {}

      &__title {
        &__main {}

        &__sub {}
      }

      &__btns {
        &__btn {}
        &__search {
          width: auto;
          padding: 0;
        }
      }
    }

    &__search {
      background: #FFFFFF;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      padding: 24px 20px;

      &__title {
        color: $colorSecond;
      }
      &__conditions {
        ::ng-deep .mat-form-field-flex {
          margin-top: 23px;
          .mat-form-field-infix {
            width: 100px !important;
          }
        }

        &__block {}
      }
    }

    &__table {
      &__block {
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      }

      &__head {
        padding: 12.5px 20px;

        @include lt-md {
          display: none;
          justify-content: flex-end;
          padding: 23px 24px 22px;
        }

        &__btn {
          @include lt-md {
            display: none;
          }

          &__icons {
            @include lt-md {
              display: block;
              float: right;
            }
          }
          &__icon {
            background: $colorCis;
            border: none;
            border-radius: 4px;
            height: 30px;
            min-width: 30px;
            width: 30px;
            mat-icon {
              height: 100%;
              width: 100%;
              line-height: inherit;
            }
            &[disabled] {
              background: $colorLight;
            }
          }
        }
      }

      &__body {

        .mat-table {
          [mat-header-cell] {
            &:nth-of-type(2) {
              width: 142px;
            }
            &:nth-of-type(3) {
              width: 181px;
            }
            &:nth-of-type(4) {
              width: 266px;
            }
            &:nth-of-type(n+5):not(:last-of-type) {
              width: 156px;
            }
          }
          [mat-cell] {
            &:nth-of-type(2) {
              width: 142px;
            }
            &:nth-of-type(3) {
              width: 181px;
            }
            &:nth-of-type(4) {
              width: 266px;
            }
            &:nth-of-type(n+5):not(:last-of-type) {
              width: 156px;
            }
          }
        }

      }
    }
  }
}

::ng-deep body {
  #{$this} {
    &__dialog {
      &--add, &--edit {
        max-width: calc(100vw - 48px) !important;
      }
    }
  }
}
