@import 'public-mixin';

$this: '.admin-resume-invitation-send-form';

:host {
  height: 100%;
  width: 100%;

  #{$this} {
    background-color: #F4F9FD;
    min-height: calc(100vh - 64px - 40px);
    padding: 24px 40px;

    @include lt-md {
      padding: 16px 24px;
    }

    &__head {
      &__title {
        &__back {
          cursor: pointer;
          display: flex;
          gap: 8px;
          mat-icon {
            height: 20px;
            width: 20px;
          }
        }
      }
    }

    &__card {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      padding: 40px 24px 40px;
      background-color: #FFF;

      &__form {
        &__template {
          margin-top: 20px;
        }
        &__radio {
          display: flex;
        }
        &__datepicker {
          padding-left: 8px;
          @include lt-md {
            padding-left: 0;
            ::ng-deep .mat-form-field-infix {
              width: auto;
            }
          }
        }
        &__to {
          padding-right: 14px;
          padding-left: 14px;
          @include lt-md {
            padding-left: 0;
          }
        }
      }

      &__tab-body-content {
        padding-top: 36px;
      }
    }

    &__tags {
      @include lt-md {
        gap: 12px 18px;
      }
    }

    &__person {
      &-tag {
        background: #6C7A8E;
        border-radius: 5px;
        box-shadow: 0px 4px 10px rgba(24, 135, 114, 0.2);
        color: #FFFFFF;
        flex-shrink: 0;
        padding: 12.5px 20px;
        height: 50px;
        width: 150px;
        mat-icon {
          cursor: pointer;
          height: 14px;
          width: 14px;
        }

        @include lt-md {
          width: 120px;
        }
      }
    }

    ::ng-deep {
      .mat-tab-label {
        min-width: 50%;
        font-size: 14px;
        line-height: 25px;
      }

      .mat-tab-label.mat-tab-label-active {
        background-color: transparent;
        color: #02B2E1;
        font-weight: 600;
      }

      .mat-ink-bar {
        background-color: #02B2E1;
      }
    }

    mat-tab-group {
      mat-form-field {
        &.mat-form-field__block--textarea {
          margin-top: 20.7px;
          ::ng-deep .mat-form-field-flex {
            height: 300px;
            .mat-form-field-infix {
              height: 100%;
            }
          }
          textarea {
            height: 100%;
            resize: none;
          }
        }
      }
    }
  }
}