<div class="admin-resume-invitation-send-form" fxLayout="column" fxLayoutGap="24px">
  <div class="admin-resume-invitation-send-form__head__block" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="24px">
    <div fxFlex fxLayout="column" fxLayoutGap="12px">
      <div class="admin-resume-invitation-send-form__head__title__back" (click)="showSendMsg(false)">
        <mat-icon svgIcon="arrow-left"></mat-icon>
        <span class="h2-text--bold">返回</span>
      </div>
      <div class="admin-resume-invitation-send-form__head__title__main h1-large-title">
        履歷管理
      </div>
      <div class="admin-resume-invitation-send-form__head__title__sub h2-text--regular">
        履歷管理 / 所有履歷 / 發送信件&訊息
      </div>
    </div>
  </div>

  <div class="admin-resume-invitation-send-form__card">
    <form class="admin-resume-invitation-send-form__card__form" [formGroup]="editForm">
      <div fxLayout="column" fxLayoutGap="35px">
        <div fxLayout="column" fxLayoutGap="4px">
          <div class="h2-text--medium">
            <span>收件者</span>
            <mat-error *ngIf="showPersonErr">(請至少選擇1人)</mat-error>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="18px" fxLayoutAlign="flex-start center" fxLayoutAlign.lt-md="flex-start center" fxLayoutGap.lt-md="0px"
            class="admin-resume-invitation-send-form__tags">
            <ng-container *ngFor="let person of selectedPerson; let index = index">
              <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="space-between center" class="admin-resume-invitation-send-form__person-tag">
                <span class="h2-text--medium">{{person.name}}</span>
                <mat-icon svgIcon="close-icon" (click)="removeSelectedPerson(index, person)"></mat-icon>
              </div>
            </ng-container>
            <button mat-raised-button class="mat-button--blue h2-text--regular" [ngClass.lt-md]="['mat-button--medium']" (click)="addReceiver()">
              <span>選擇人員</span>
            </button>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="35px" fxLayout.lt-md="column" class="admin-resume-invitation-send-form__card__form__template">
          <mat-form-field class="mat-form-field__block mat-form-field--hide-error" appearance="fill">
            <label class="mat-form-field__lable--top">信件樣板</label>
            <select matNativeControl formControlName="mailTpl" [errorStateMatcher]="matcher">
              <option class="default-option" label="請選擇" [ngValue]="null"></option>
              <ng-container *ngFor="let option of mailOptions">
                <option [value]="option.key">{{option.text}}</option>
              </ng-container>
            </select>
          </mat-form-field>
          <mat-form-field class="mat-form-field__block mat-form-field--hide-error" appearance="fill">
            <label class="mat-form-field__lable--top">簡訊樣板</label>
            <select matNativeControl formControlName="smsTpl" [errorStateMatcher]="matcher">
              <option class="default-option" label="請選擇" [ngValue]="null"></option>
              <ng-container *ngFor="let option of smsOptions">
                <option [value]="option.key">{{option.text}}</option>
              </ng-container>
            </select>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutGap="4px">
          <div class="h2-text--medium">信件簡訊發送日期</div>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="20px">
            <mat-radio-group aria-label="Select an option" formControlName="sendDateType" fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column" fxLayoutGap.lt-md="12px">
              <mat-radio-button class="admin-resume-invitation-send-form__card__form__radio" [value]="'none'">
                <span>立即發送</span>
              </mat-radio-button>
              <div fxLayout.lt-md="row" fxLayoutGap.lt-md="15px" fxLayoutAlign.lt-md="flex-start center">
                <mat-radio-button [value]="'design'">
                  <span>選擇日期</span>
                </mat-radio-button>
                <mat-form-field class="mat-form-field--hide-error admin-resume-invitation-send-form__card__form__datepicker"
                  floatLabel="never" appearance="fill" >
                  <input matInput [matDatepicker]="picker1" formControlName="send_Date" placeholder="請選擇日期" [disabled]="sendDateTypeFormCtl.value !== 'design'" (click)="picker1.open()">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
            </mat-radio-group>
          </div>
        </div>

        <div fxLayout="column" fxLayoutGap="4px">
          <div class="h2-text--medium">網址填寫期限</div>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-md="column" fxLayoutGap.lt-md="12px" fxLayoutAlign.lt-md="center flex-start">
            <mat-form-field class="mat-form-field__block mat-form-field--hide-error" floatLabel="never" appearance="fill">
              <input matInput [matDatepicker]="picker2" formControlName="date2" placeholder="請選擇日期" (click)="picker2.open()">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <div class="admin-resume-invitation-send-form__card__form__to">到</div>
            <mat-form-field class="mat-form-field__block mat-form-field--hide-error" floatLabel="never" appearance="fill">
              <input matInput [matDatepicker]="picker3" formControlName="date3" placeholder="請選擇日期" (click)="picker3.open()">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div>
          <div class="h2-text--medium">檢視信件/簡訊內容</div>
          <mat-tab-group animationDuration="0ms">
            <mat-tab label="信件內容">
              <div fxLayout="column" fxLayoutGap="38px" class="admin-resume-invitation-send-form__card__tab-body-content">
                <div>
                  <div class="h2-text--medium">主旨</div>
                  <mat-form-field class="mat-form-field__block mat-form-field--hide-error" floatLabel="never" appearance="fill">
                    <input matInput formControlName="emailTitle" placeholder="請完成入職前填寫資料">
                  </mat-form-field>
                </div>
                <div>
                  <div class="h2-text--medium">信件內容</div>
                  <mat-form-field class="mat-form-field__block mat-form-field__block--textarea mat-form-field--hide-error" appearance="fill">
                    <textarea matInput formControlName="emailContent" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="簡訊內容">
              <div fxLayout="column" fxLayoutGap="38px" class="admin-resume-invitation-send-form__card__tab-body-content">
                <div>
                  <div class="h2-text--medium">簡訊內容</div>
                  <mat-form-field class="mat-form-field__block mat-form-field__block--textarea mat-form-field--hide-error" floatLabel="never" appearance="fill">
                    <textarea matInput formControlName="mailContent" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>

      </div>
    </form>
  </div>

  <div fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="18px" class="admin-resume-invitation-send-form__action">
    <button mat-raised-button class="admin-resume-invitation-send-form__head__btn h2-text--regular"
      [ngClass.lt-md]="['mat-button--medium']" (click)="cancelSend()">
      <span>取消</span>
    </button>
    <button mat-raised-button class="admin-resume-invitation-send-form__head__btn mat-button--blue h2-text--regular"
      [ngClass.lt-md]="['mat-button--medium']" (click)="sendMessage()">
      <span>確定</span>
    </button>
  </div>
</div>