<div fxFlex fxLayout="column" fxLayoutGap="24px" class="admin-message">
    <div  class="admin-message__head__block">
        <div fxFlex fxLayout="column" fxLayoutGap="12px" fxLayoutGap.lt-md="6px" class="admin-message__head__title__block">
            <div class="admin-message__head__title__main h1-large-title">
                {{title}}
            </div>
            <div class="admin-message__head__title__sub h2-text--regular">
                {{title}} / {{subtitle}}
            </div>
        </div>

        <div fxHide="true" fxShow.lt-md="true" class="admin-message__head__search__btn">
            <button class="admin-message__head__search__btn__icon" (click)="searchMessage()">
                <mat-icon [svgIcon]="'search-icon'" aria-hidden="false" aria-label="search icon"></mat-icon>
            </button>
        </div>
    </div>

    <mat-tab-group [selectedIndex]="tabSelected.value" (selectedIndexChange)="changeTab($event)">
        <mat-tab [label]="tabText1" class="admin-message__form__tab"></mat-tab>
        <mat-tab [label]="tabText2" class="admin-message__form__tab"></mat-tab>
    </mat-tab-group>

    <div fxLayout="column" fxLayoutGap="12px" fxHide.lt-md="true" class="admin-message__search__block">
        <div class="admin-message__search__title h1-small-title">
            {{ searchTitle }}
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="admin-message__search__conditions__block">
            <form fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center"
                class="admin-message__search__conditions"
                [ngClass]="'admin-message__search__conditions--' + currentType"
                [formGroup]="searchForm">
                <mat-form-field class="mat-form-field__block mat-form-field--hide-error" appearance="fill">
                    <label class="mat-form-field__lable--top">發送日期</label>
                    <input matInput [matDatepicker]="picker1" formControlName="sendDate" placeholder="請選擇日期" (click)="picker1.open()">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="mat-form-field__block mat-form-field--hide-error" appearance="fill" *ngIf="tabSelected.value === 0 || currentType === 'sms'">
                    <label class="mat-form-field__lable--top">發送狀態</label>
                    <select matNativeControl formControlName="sendStatus" [errorStateMatcher]="matcher">
                        <option class="default-option" label="請選擇" [ngValue]="null"></option>
                        <ng-container *ngFor="let option of sendStatusOptions">
                            <option [ngValue]="option.key">{{option.text}}</option>
                        </ng-container>
                    </select>
                </mat-form-field>
                <mat-form-field class="mat-form-field__block mat-form-field--hide-error" appearance="fill" *ngIf="tabSelected.value === 0 && currentType === 'email'">
                    <label class="mat-form-field__lable--top">開啟狀態</label>
                    <select matNativeControl formControlName="openStatus" [errorStateMatcher]="matcher">
                        <option class="default-option" label="請選擇" [ngValue]="null"></option>
                        <ng-container *ngFor="let option of openStatusOptions">
                            <option [ngValue]="option.key">{{option.text}}</option>
                        </ng-container>
                    </select>
                </mat-form-field>
                <mat-form-field class="mat-form-field__block mat-form-field--hide-error" appearance="fill">
                    <label class="mat-form-field__lable--top">人員階段</label>
                    <select matNativeControl formControlName="stage" [errorStateMatcher]="matcher">
                        <option class="default-option" label="請選擇" [ngValue]="null"></option>
                        <ng-container *ngFor="let option of stageOptions">
                            <option [value]="option.key">{{option.text}}</option>
                        </ng-container>
                    </select>
                </mat-form-field>
                <ng-container matColumnDef="sendDate">
                    <th mat-header-cell *matHeaderCellDef>
                      <span class="h2-text--bold text-main">寄件日期</span>
                    </th>
                    <td mat-cell *matCellDef="let element" [attr.data-th]="'寄件日期'">
                      <div class="mat-cell-content">{{ element.send_Date | date: 'yyyy/M/dd' }}</div>
                    </td>
                </ng-container>
                <mat-form-field class="mat-form-field__block mat-form-field--hide-error" appearance="fill">
                    <label class="mat-form-field__lable--top">姓名</label>
                    <input matInput placeholder="例:王大大明" formControlName="name" [errorStateMatcher]="matcher">
                    <mat-error class="h3-text--medium" *ngIf="nameFormCtl.invalid">
                        {{ getNameErrorMessage() }}
                    </mat-error>
                </mat-form-field>
            </form>
            <button mat-raised-button class="admin-message__head__btn mat-button--orange h2-text--regular" (click)="search()">
                <span>查詢</span>
            </button>
        </div>
    </div>

    <div class="admin-message__table__block">
        <div fxLayout="row" fxLayoutGap="20px" fxHide.lt-md="true" class="admin-message__table__head">
            <button mat-raised-button class="admin-message__table__head__btn mat-button--blue h2-text--regular" [disabled]="selection.selected.length === 0" (click)="sendMsg()">
                <span>{{ sendBtnText }}</span>
            </button>
        </div>
        <div class="admin-message__table__body">
            <table mat-table [dataSource]="dataSource" [ngClass]="('tab-' + tabSelected.value)" matSort>
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="headerColspan">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>

                        <div fxHide="true" fxShow.lt-md="true" fxLayout="row" class="admin-message__table__head__btn__icons">
							<button class="admin-message__table__head__btn__icon mat-button--blue" [disabled]="selection.selected.length === 0" (click)="sendMsg()">
								<mat-icon [svgIcon]="'mail'" aria-hidden="false" aria-label="mail icon"></mat-icon>
							</button>
						</div>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                    <span class="h2-text--bold text-main">收件者</span>
                  </th>
                  <td mat-cell *matCellDef="let element" [attr.data-th]="'收件者'">
                    <div class="mat-cell-content">{{element.to_Name}}</div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="stage">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                    <span class="h2-text--bold text-main">人員階段</span>
                  </th>
                  <td mat-cell *matCellDef="let element" [attr.data-th]="'人員階段'">
                    <div class="mat-cell-content">{{element.stage | getValueByKeyFromList: [stageList, 'code', 'name']}}</div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="sendDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                    <span class="h2-text--bold text-main">寄件日期</span>
                  </th>
                  <td mat-cell *matCellDef="let element" [attr.data-th]="'寄件日期'">
                    <div class="mat-cell-content">{{ element.send_Date | date: 'yyyy/M/dd' }}</div>
                  </td>
                </ng-container>


                <ng-container matColumnDef="job" *ngIf="displayedColumns.includes('job')">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                    <span class="h2-text--bold text-main">職務</span>
                  </th>
                  <td mat-cell *matCellDef="let element" [attr.data-th]="'職務'">
                    <div class="mat-cell-content">{{element.jobName}}</div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="sendSuccess" *ngIf="displayedColumns.includes('sendSuccess')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                        <span class="h2-text--bold text-main">發送成功</span>
                    </th>
                    <td mat-cell *matCellDef="let element" [attr.data-th]="'發送成功'">
                        <div class="mat-cell-content" [ngClass]="element.success ? 'text-main' : 'text-error-1'">
                            {{element.success ? '是' : '否'}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="open" *ngIf="displayedColumns.includes('open')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                        <span class="h2-text--bold text-main">開啟狀態</span>
                    </th>
                    <td mat-cell *matCellDef="let element" [attr.data-th]="'開啟狀態'">
                        <div class="mat-cell-content" [ngClass]="element.isOpened ? 'text-main' : 'text-error-1'">
                            {{element.isOpened ? '是' : '否'}}
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="resume" *ngIf="displayedColumns.includes('resume')">
                    <th mat-header-cell *matHeaderCellDef>
                        <span class="h2-text--bold text-main">履歷表</span>
                    </th>
                    <td mat-cell *matCellDef="let element" [attr.data-th]="'履歷表'">
                        <ng-container *ngTemplateOutlet="element.refuse ? refuseResume : viewResume"></ng-container>
                        <ng-template #refuseResume>
                            <span class="mat-cell-content">已婉拒</span>
                        </ng-template>
                        <ng-template #viewResume>
                            <a class="mat-cell-content" href="#" (click)="showResume($event, element)">檢視</a>
                        </ng-template>
                    </td>
                </ng-container>

                <ng-container matColumnDef="modifyDate" *ngIf="displayedColumns.includes('modifyDate')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                        <span class="h2-text--bold text-main">儲存日期</span>
                    </th>
                    <td mat-cell *matCellDef="let element" [attr.data-th]="'儲存日期'">
                        <div class="mat-cell-content">{{ element.lastModificationTime | date: 'yyyy/M/dd' }}</div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="subject" *ngIf="displayedColumns.includes('subject')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                        <span class="h2-text--bold text-main">信件主旨</span>
                    </th>
                    <td mat-cell *matCellDef="let element" [attr.data-th]="'信件主旨'">
                        <div class="mat-cell-content">{{element.subject}}</div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>
                        <span class="h2-text--bold text-main">預覽</span>
                    </th>
                    <td mat-cell *matCellDef="let element" [attr.data-th]="'預覽'">
                        <mat-icon svgIcon="search-icon" aria-hidden="false" attr.aria-label="search" (click)="previewMessage(element)"></mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row data-empty" *matNoDataRow>
                    <td class="mat-cell"></td>
                    <td class="mat-cell h2-text--regular" [attr.colspan]="displayedColumns.length">
                        {{tableEmptyText}}
                    </td>
                </tr>
            </table>

            <div fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="24px" class="paginator__block">
                <div class="paginator__item paginator__item--show-len">
                    <div class="paginator__item__text h2-text--regular">顯示資料</div>
                    <mat-select [(ngModel)]="pageSize" (ngModelChange)="updatePageSize($event)" class="paginator__item__select">
                        <ng-container *ngFor="let num of pageSizeOptions">
                            <mat-option [value]="num">{{num}}</mat-option>
                        </ng-container>
                    </mat-select>
                </div>
                <div class="paginator__item paginator__item--current-page">
                    <div class="paginator__item__text h2-text--regular">當前頁數</div>
                    <mat-select [(ngModel)]="manualPage" (ngModelChange)="updateManualPage($event)" class="paginator__item__select">
                        <ng-container *ngFor="let num of totalPageList">
                            <mat-option [value]="num">{{num + 1}}</mat-option>
                        </ng-container>
                    </mat-select>
                </div>
                <div fxLayout="row" fxLayoutAlign="center flex-start" fxLayoutGap="40px" class="paginator__page-info">
                    <div fxLayout="row" fxLayoutGap="2px">
                        <div class="paginator__item__text h2-text--regular">共{{totalPage}}頁</div>
                        <div>-</div>
                        <div class="paginator__item__text h2-text--regular">第{{manualPage + 1 }}頁</div>
                    </div>

                    <div fxLayout="row" fxLayoutGap="16px" class="paginator__btns">
                        <button mat-icon-button class="paginator__btn paginator__btn--prev" (click)="page.previousPage()" [disabled]="disablePrev">
                            <mat-icon [svgIcon]="'arrow-left'" aria-hidden="false" aria-label="prev icon"></mat-icon>
                        </button>
                        <button mat-icon-button class="paginator__btn paginator__btn--next" (click)="page.nextPage()" [disabled]="disableNext">
                            <mat-icon [svgIcon]="'arrow-right'" aria-hidden="false" aria-label="next icon"></mat-icon>
                        </button>
                    </div>
                </div>

                <mat-paginator #page class="paginator__component"
                    [length]="length"
                    [pageIndex]="manualPage"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="getPaginatorData($event)"></mat-paginator>
            </div>
        </div>
    </div>
</div>
