@import 'public-mixin';

$this: '.admin-message';

:host {
    height: 100%;
    width: 100%;

    #{$this} {
      background-color: #F4F9FD;
      min-height: calc(100vh - 64px - 40px);
      padding: 24px 40px;

      @include lt-md {
        padding: 16px 24px;
      }

      &__head {
        &__block {}
  
        &__title {
          &__main {}
  
          &__sub {}
        }
  
        &__keyword {
          mat-form-field {
            margin: 0 !important;
  
            @include lt-md {
              width: 100%;
            }
  
            ::ng-deep .mat-form-field-wrapper {
              background-color: #FFFFFF;
              padding-bottom: 0 !important;
            }
          }
        }

        &__search {
          &__btn {
            &__icon {
              height: 50px;
              width: 50px;
              padding: 10px;
              border: none;
              background: #F4781E;
              border-radius: 4px;

              mat-icon {
                height: 100%;
                width: 100%;
                ::ng-deep svg {
                  path {
                    fill: #FFFFFF;
                  }
                }
              }
            }
          }
        }
      }

      mat-tab-group {
        @include lt-md {
          max-width: calc(100vw - 48px);
        }
          ::ng-deep .mat-tab-labels {
              .mat-tab-label {
                  width: 50%;
              }
          }
      }

      &__search {
        &__block {
          background: #FFFFFF;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          padding: 24px 20px;

          @include lt-md {
            display: none;
          }
        }
        &__title {
          color: $colorSecond;
        }
        &__conditions {
          .mat-form-field__block {
            max-width: 201.6px;
          }
          &__block {
            margin-top: 19px;
          }
        }
      }

      &__table {
        &__block {
          background: #FFFFFF;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        }

        &__head {
          padding: 12.5px 20px;

          @include lt-md {
            display: none;
            justify-content: flex-end;
            padding: 23px 24px 22px;
          }

          &__btn {
            @include lt-md {
              display: none;
            }
  
            &__icons {
              @include lt-md {
                display: block;
                float: right;
              }
            }
            &__icon {
              background: $colorCis;
              border: none;
              border-radius: 4px;
              height: 30px;
              min-width: 30px;
              width: 30px;
              mat-icon {
                height: 100%;
                width: 100%;
                line-height: inherit;
              }
              &[disabled] {
                background: $colorLight;
              }
            }
          }
        }

        &__body {
          a {
            color: #006CD0;
          }
        }
      }
    }
}