<div class="app-common-dialog" mat-dialog-title>
    <mat-icon [svgIcon]="data.icon || 'error'" aria-hidden="false" aria-label="google icon"></mat-icon>
    <div class="app-common-dialog__title h1-title">{{data.title}}</div>
</div>
<mat-dialog-content class="app-common-dialog__content">
    <div class="app-common-dialog__subtitle h2-text--regular">{{data.subTitle}}</div>
</mat-dialog-content>
<mat-dialog-actions align="center" class="app-common-dialog__action">
    <button mat-button mat-dialog-close *ngIf="data.showCancelBtn" (click)="isSuccess = false">
        {{data.cancelBtnText}}
    </button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial *ngIf="data.showSuccessBtn" (click)="isSuccess = true">
        {{data.successBtnText}}
    </button>
</mat-dialog-actions>