<div class="app-common-dialog" mat-dialog-title>
    <mat-icon [svgIcon]="data.icon || 'error'" aria-hidden="false" aria-label="google icon"></mat-icon>
    <div class="app-common-dialog__title h1-title">{{data.title}}</div>
</div>
<mat-dialog-content class="app-common-dialog__content">
    <div class="app-common-dialog__subtitle h2-text--regular">{{data.subTitle}}</div>
</mat-dialog-content>
<mat-dialog-actions align="center" class="app-common-dialog__action">
    <button mat-raised-button
        *ngIf="data.showCancelBtn"
        (click)="closeDialog(false)">
        <span>{{data.cancelBtnText}}</span>
    </button>
    <button mat-raised-button cdkFocusInitial
        class="mat-button--orange"
        *ngIf="data.showSuccessBtn"
        (click)="closeDialog(true)">
        <span>{{data.successBtnText}}</span>
    </button>
</mat-dialog-actions>