<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center" class="resume-invitation-send-add-dialog__head">
  <div class="resume-invitation-send-add-dialog__title h1-title">{{ data.title }}</div>
  <mat-icon mat-dialog-close [svgIcon]="data.icon || 'close-icon'" aria-hidden="false" aria-label="close icon">
  </mat-icon>
</div>
<div mat-dialog-content class="resume-invitation-send-add-dialog__content">
  <form class="resume-invitation-send-add-dialog__content__form" [formGroup]="searchForm">
    <mat-form-field class="mat-form-field__block" appearance="fill">
      <label class="mat-form-field__lable--top">階段</label>
      <mat-select formControlName="level" [errorStateMatcher]="matcher">
        <mat-option>請選擇</mat-option>
        <ng-container *ngFor="let option of levelOptions">
          <mat-option [value]="option.key">{{option.text}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="mat-form-field__block" appearance="fill">
      <label class="mat-form-field__lable--top">姓名</label>
      <input matInput placeholder="例:王大明" formControlName="name" required [errorStateMatcher]="matcher">
    </mat-form-field>
  </form>
  <div class="resume-invitation-send-add-dialog__content__action" align="center">
    <button mat-raised-button class="h2-text--regular" (click)="search($event)">
      <span>搜尋</span>
    </button>
  </div>
</div>
<div mat-dialog-actions fxLayout="column" fxLayoutAlign="space-around stretch" class="resume-invitation-send-add-dialog__action">
  <div fxLayout="column" fxLayoutAlign="center start" class="resume-invitation-send-add-dialog__action__result">
    <div class="resume-invitation-send-add-dialog__action__result__label">查詢結果</div>
    <div class="resume-invitation-send-add-dialog__action__result__section">
      <mat-checkbox class="resume-invitation-send-add-dialog__action__result__checkbox">黃小明</mat-checkbox>
      <mat-checkbox class="resume-invitation-send-add-dialog__action__result__checkbox">黃小花</mat-checkbox>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="resume-invitation-send-add-dialog__action__action">
    <button mat-raised-button mat-dialog-close (click)="isSuccess = false">
      <span>{{ data.cancelBtnText }}</span>
    </button>
    <button mat-raised-button cdkFocusInitial class="mat-button--orange" (click)="confirm()">
      <span>{{ data.successBtnText }}</span>
    </button>
  </div>
</div>