@import 'public-mixin';

:host {
  $this: '.resume-invitation-profile-dialog';

  #{$this} {
    &__head {
      border-bottom: 1px solid #C5D0DF;
      margin-bottom: 0;
      padding: 8.5px 24px;

      mat-icon {
        color: $colorSecond;
        cursor: pointer;
        width: 17px;
      }
    }

    &__content {
      height: 172px;
      max-height: 172px;
      overflow: hidden;
      margin: 0;
      padding: 40px 24px 0;

      &__loader {
        width: 566px;
        height: 172px;
        border: 1px dashed #C5D0DF;
      }

      &__icon {
        width: 70px;
        height: 70px;
      }

      &__input {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #6C7A8E;
        cursor: pointer;
      }

      &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: #6C7A8E;
      }
    }

    &__action {
      min-height: unset;
      margin-top: 40px;
      margin-bottom: unset;
      padding: 0 0 40px;
    }
  }
}