@import 'public-mixin';

:host {
    $this: '.admin-resume-add-person-dialog';

    #{$this} {
        &__head {
            border-bottom: 1px solid #C5D0DF;
            margin-bottom: 0;
            padding: 8.5px 24px;
            mat-icon {
                color: $colorSecond;
                cursor: pointer;
                width: 17px;
            }
        }

        &__content {
            max-height: calc(100% - 51px - 130px);
            overflow: hidden;
            overflow-y: auto;
            margin: 0;
            padding: 40px 24px 0;
            &__form {
                display: flex;
                flex-direction: column;
                gap: 2px;

                .default-option {
                    color: $colorLight;
                }

                ::ng-deep .mat-form-field-flex {
                    margin-top: 23px;
                }
            }
        }
        &__action {
            gap: 20px;
        }
    }
}