@import 'public-mixin';

:host {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    max-height: calc(100vh - 39px);
    width: 100%;
    @include lt-md {
        max-height: none;
    }

    $this: '.app-forget';

    #{$this} {
        &__content {
            max-width: 420px;
            height: auto;
            width: 100%;

            @include lt-md {
                max-width: 380px;
                padding-top: 20px;
            }
        }
        &__other {
            margin-top: 24px;
            span {
                margin-right: 8px;
            }
            a {
                text-decoration: none;
                color: $colorSecond;
            }
        }
        &__form {
            display: flex;
            flex-direction: column;
            margin-top: 40px;

            mat-tab-group {
                ::ng-deep .mat-tab-header {
                    .mat-tab-labels {
                        justify-content: space-between;

                        .mat-tab-label {
                            max-width: 205px;
                            width: 100%;
                            @include lt-md {
                                max-width: 185px;
                            }
                            .mat-tab-label-content {
                                @include Noto-Sans-TCBody14-Bold;
                                color: $colorSecond;
                                @include lt-md {
                                    @include Noto-Sans-TCBody12-Bold;
                                }
                            }
                            &-active {
                                .mat-tab-label-content {
                                    color: $colorBlue;
                                }
                            }
                        }
                    }
                    .mat-ink-bar {
                        background-color: $colorBlue;
                    }
                }
                ::ng-deep .mat-tab-body-wrapper {
                    margin-top: 35px;
                }
            }
            &__country__code {
                width: 125px;
            }
            &__countdown {
                color: $colorSecond;
            }
            &__login__btn {
                background-color: #F4781E;
                border-radius: 8px;
                margin-top: 35px;
                width: 100%;
                height: 50px;
                @include lt-md {
                    margin-top: 30px;
                }

                &--no-countdown {
                    margin-top: 0;
                }

                ::ng-deep .mat-button-wrapper {
                    color: #FFFFFF;
                }
            }
        }
    }
}