@import 'public-mixin';

:host {
    $this: '.app-forget';
    align-self: center;

    #{$this} {
        &__content {
            width: 420px;
        }
        &__other {
            margin-top: 24px;
            a {
                text-decoration: none;
                color: $colorSecond;
            }
        }
        &__form {
            display: flex;
            flex-direction: column;
            gap: 35px;
            margin-top: 40px;

            mat-tab-group {
                ::ng-deep .mat-tab-header {
                    .mat-tab-labels {
                        justify-content: space-between;

                        .mat-tab-label {
                            width: 205px;
                            .mat-tab-label-content {
                                @include Noto-Sans-TCBody14-Bold;
                                color: $colorSecond;
                            }
                            &-active {
                                .mat-tab-label-content {
                                    color: $colorBule;
                                }
                            }
                        }
                    }
                    .mat-ink-bar {
                        background-color: $colorBule;
                    }
                }
                ::ng-deep .mat-tab-body-wrapper {
                    margin-top: 35px;
                }
            }
            &__country__code {
                width: 125px;
            }
            &__login__btn {
                background-color: #F4781E;
                border-radius: 8px;
                width: 100%;
                height: 50px;
                ::ng-deep .mat-button-wrapper {
                    color: #FFFFFF;
                }
            }
        }
    }
}