<div fxFlex fxLayout="column" class="app-reset-password__content">
    <app-page-title [title]="title"></app-page-title>
    <form fxFlex fxLayout="column" class="app-reset-password__form" [formGroup]="resetForm">
        <mat-form-field class="mat-form-field__block" appearance="fill">
            <label class="mat-form-field__lable--top">請輸入密碼*</label>
            <input [type]="showPassword ? 'text' : 'password'" autocomplete="new-password" minlength="8" matInput placeholder="請輸入密碼" formControlName="password" required [errorStateMatcher]="matcher">
            <mat-icon [svgIcon]="showPassword ? 'eye-open' : 'eye-close'" aria-hidden="false" aria-label="google icon" (click)="showPassword = !showPassword"></mat-icon>
            <mat-error class="h3-text--medium" *ngIf="passwordFormCtl.invalid">
                {{ getPasswordErrorMessage() }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-form-field__block" appearance="fill">
            <label class="mat-form-field__lable--top">請再次輸入密碼*</label>
            <input [type]="showConfirmPwd ? 'text' : 'password'" matInput placeholder="請輸入密碼" formControlName="confirmPwd" required>
            <mat-icon [svgIcon]="showConfirmPwd ? 'eye-open' : 'eye-close'" aria-hidden="false" aria-label="google icon" (click)="showConfirmPwd = !showConfirmPwd"></mat-icon>
            <mat-error class="h3-text--medium" *ngIf="confirmPwdFormCtl.invalid">
                {{ getConfirmPwdErrorMessage() }}
            </mat-error>
        </mat-form-field>

        <button mat-raised-button (click)="submitForm()" [disabled]="disabledBtn"
            class="app-reset-password__form__btn mat-button--block mat-button--orange h2-text--bold">
            <span>確認</span>
        </button>

        <div class="app-reset-password__form__other">
            <span class="h2-text--regular">{{otherTitle}}</span>
            <a href="#" class="h2-text--regular" routerLink="/register">
                {{otherSubtitle}}
            </a>
        </div>
    </form>
</div>