@import 'public-mixin';

:host {
    $this: '.app-reset-password';

    #{$this} {
        &__content {
            margin: 150px 0;
            width: 420px;
            @include lt-md {
                margin: 0;
                padding-top: 20px;
                width: 380px;
            }
        }
        &__form {
            margin-top: 40px;
            @include lt-md {
                margin-top: 35px;
            }
            &__other {
                margin-top: 35px;
                @include lt-md {
                    margin-top: 30px;
                }
                span {
                    color: $colorLight;
                }
                a {
                    color: $colorSecond;
                    text-decoration: none;
                    @include lt-md {
                        padding-top: 1.5px;
                    }
                }
            }
            &__btn {
                margin-top: 35px;
                @include lt-md {
                    margin-top: 30px;
                }
            }
        }
    }
}