@import 'public-mixin';

:host {
  $this: '.resume-invitation-title-dialog';

  #{$this} {
    &__head {
      border-bottom: 1px solid #C5D0DF;
      margin-bottom: 0;
      padding: 8.5px 24px;

      mat-icon {
        color: $colorSecond;
        cursor: pointer;
        width: 17px;
      }
    }

    &__content {
      margin: 0;

      &__form {
        padding-top: 40px;
        mat-form-field:first-child {
          padding-top: 23px;
        }

        mat-form-field:last-child {
          margin-bottom: 0;
        }

        .default-option {
          color: $colorLight;
        }
      }
    }

    &__action {
      padding: 20px 0 40px;
      min-height: unset;
      margin-bottom: unset;
    }
  }
}