<div fxFlex fxLayout="column" class="app-register-info__content">
    <app-page-title [title]="title" [subtitle]="subtitle"></app-page-title>
    <form fxFlex fxLayout="column" class="app-register-info__form" [formGroup]="registerForm">
        <mat-form-field class="mat-form-field__block" appearance="fill">
            <label class="mat-form-field__lable--top">中文姓名*</label>
            <input matInput placeholder="例:王大明" formControlName="userName" required [errorStateMatcher]="matcher">
            <mat-error class="h3-text--medium" *ngIf="userNameFormCtl.invalid">
                {{ getUserNameErrorMessage() }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-form-field__block" appearance="fill">
            <label class="mat-form-field__lable--top">Email*</label>
            <input type="email" matInput placeholder="請輸入Email" formControlName="emailAddress" required [errorStateMatcher]="matcher">
            <mat-error class="h3-text--medium" *ngIf="emailAddressFormCtl.invalid">
                {{ getEmailAddressErrorMessage() }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-form-field__block" appearance="fill">
            <label class="mat-form-field__lable--top">請輸入密碼*</label>
            <input [type]="showPassword ? 'text' : 'password'" autocomplete="new-password" minlength="8" matInput placeholder="請輸入密碼" formControlName="password" required [errorStateMatcher]="matcher">
            <mat-icon [svgIcon]="showPassword ? 'eye-open' : 'eye-close'" aria-hidden="false" aria-label="google icon" (click)="showPassword = !showPassword"></mat-icon>
            <mat-error class="h3-text--medium" *ngIf="passwordFormCtl.invalid">
                {{ getPasswordErrorMessage() }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-form-field__block" appearance="fill">
            <label class="mat-form-field__lable--top">請再次輸入密碼*</label>
            <input [type]="showConfirmPwd ? 'text' : 'password'" matInput placeholder="請輸入密碼" formControlName="confirmPwd" required>
            <mat-icon [svgIcon]="showConfirmPwd ? 'eye-open' : 'eye-close'" aria-hidden="false" aria-label="google icon" (click)="showConfirmPwd = !showConfirmPwd"></mat-icon>
            <mat-error class="h3-text--medium" *ngIf="confirmPwdFormCtl.invalid">
                {{ getConfirmPwdErrorMessage() }}
            </mat-error>
        </mat-form-field>

        <div class="app-register-info__form__other">
            <div fxFlex="0 1 0" fxFlexLayout="column">
                <mat-checkbox class="h2-text--regular" formControlName="readOver"> 我已同意並閱讀</mat-checkbox>
                <mat-error class="h3-text--medium" *ngIf="readOverFormCtl.invalid">
                    {{ getReadOverErrorMessage() }}
                </mat-error>
            </div>

            <a href="#" class="h2-text--regular" (click)="showTerms($event)">
               服務條款及隱私權保護政策
            </a>
        </div>

        <button mat-raised-button (click)="submitForm()" [disabled]="disabledBtn"
            class="app-register-info__form__btn mat-button--block mat-button--orange h2-text--bold">
            <span>確認</span>
        </button>
    </form>
</div>