mat-checkbox {
    height: 15px;
    width: 15px;
    position: relative;

    ::ng-deep .mat-checkbox-layout {
        inset: 0;
        height: 100%;
        position: absolute;
        width: 100%;
        .mat-checkbox-inner-container {
            height: 15px;
            width: 15px;
        }
        .mat-checkbox-label {
            color: #6C7A8E;
            @include Noto-Sans-TCBody14-Regular;
            @include lt-md {
                @include Noto-Sans-TCBody12-Regular;
            }
        }
    }

    $this: '.mat-checkbox';
    &#{$this}-checked {
        ::ng-deep .mat-checkbox-layout {
            .mat-checkbox-inner-container {
                .mat-checkbox-background {
                    background-color: #02B2E1;
                }
            }
        }
    }
    &#{$this}--white {
        ::ng-deep .mat-checkbox-layout  {
            .mat-checkbox-label {
                color: #FFFFFF;
            }
            .mat-checkbox-frame {
                border-color: #C5D0DF;
            }
            .mat-checkbox-background {
                background-color: #FFFFFF;
                box-sizing: content-box;
                width: calc(100% - 2px);
                height: calc(100% - 2px);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}