$this: '.mat-form-field';

mat-form-field {
    margin-bottom: 14.5px;
    &#{$this} {
        &__block {
            width: 100%;
        }
        &--hide-error {
            margin-bottom: 0;
            ::ng-deep .mat-form-field-wrapper {
                padding-bottom: 0;
            }
        }
    }
    #{$this} {
        &__lable--top {
            @include Noto-Sans-TCBody14-Medium;
            color: $colorSecond;
            position: absolute;
            left: -10px;
            top: -36px;
        }
    }

    ::ng-deep .mat-form-field-flex {
        align-items: center;
        border-radius: 8px;
        border: 1px solid $colorLight;
        background: transparent;
        height: 50px;
        padding: 13px 8px;

        .mat-form-field-infix {
            border: none;
            padding: 0;

            mat-icon[data-mat-icon-type="svg"] {
                position: absolute;
                right: 0;
            }
        }
    }
    ::ng-deep .mat-form-field-underline {
        display: none;
    }
    ::ng-deep .mat-form-field-subscript-wrapper {
        text-align: right;
    }

    &#{$this}--white {
        ::ng-deep .mat-form-field-wrapper {
            .mat-form-field-flex {
                border-radius: 8px;
                border-color: $colorLight;
                background-color: white;
                .mat-form-field-infix {
                    .mat-form-field__lable--top {
                        color: white;
                    }
                    input[type="text"], input[type="password"] {
                        background-color: #FFFFFF !important;
                    }
                }
            }
            .mat-form-field-subscript-wrapper {
                .mat-error {
                    color: $colorError2;
                }
            }
        }
    }
}